<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
		<sectionGroup name = "Codentia.Common.Logging">
			<section name = "TargetMapping" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<appSettings>
			<add key="ExceptionReferenceFile" value="ExceptionReference.xml" />
			<add key="WebSiteCookieName" value="CETest" />
			<add key="WebSiteAddressCookieName" value="ExternalIdA" />
			<add key="WebSiteCookieDomain" value="MyDomain" />
			<add key="WebSiteEmailAddressCookieName" value="ExternalIdE" />
			<add key="DefaultUserRole" value="User"/>		
	</appSettings> 
	<databaseConnections>
		<databases>
			<add name="donotusemembership">
				<sources>
					<add runat="MIDEV01" server="MIDEV01" database="CE_Membership_Test_DoNotUse" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
					<add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="CE_Membership_Test_DoNotUse" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
          <add runat="MIDEV04" server="MIDEV04" database="CE_Membership_Test_DoNotUse" user="adminuser" password="0AF33AF9-87EE-49E4-8F7D-564F796F9EC5" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="CE_Membership_Test_DoNotUse" user="sa" password="Bu1ld" />
          <add runat="SRV03" server="." instance="PROD" database="CE_Membership_Test_DoNotUse" user="sa" password="Pr0d" />
        </sources>
      </add>
			<add name="membership">
				<sources>
					<add runat="MIDEV01" server="MIDEV01" database="CE_Membership_Test" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
					<add runat="CEDEV02" server="CEDEV02" instance="DEV2012" database="CE_Membership_Test" user="adminuser" password="E97A9F7D-6CA9-4909-8A5A-AE19BCFBEA57" />
          <add runat="MIDEV04" server="MIDEV04" database="CE_Membership_Test" user="adminuser" password="0AF33AF9-87EE-49E4-8F7D-564F796F9EC5" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="CE_Membership_Test" user="sa" password="Bu1ld" />
          <add runat="SRV03" server="." instance="PROD" database="CE_Membership_Test" user="sa" password="Pr0d" />
        </sources>
			</add>
		</databases>
	</databaseConnections>
	<system.web>
		<authentication mode="Forms"/>
		<membership defaultProvider="CustomizedProvider"  userIsOnlineTimeWindow="30" hashAlgorithmType="SHA1">
			<providers>
				<clear />
				<add name="CustomizedProvider"
							 type="Codentia.Common.Membership.Providers.CESqlMembershipProvider, Codentia.Common.Membership" 					  
							 connectionStringName="membership"
							 applicationName="/"
							 minRequiredPasswordLength="5"
							 minRequiredNonalphanumericCharacters="0"
							 requiresUniqueEmail="true"
							 passwordFormat="Hashed"
							 enablePasswordRetrieval="false"
							 enablePasswordReset="true"
							 requiresQuestionAndAnswer="false" 
					 />
			</providers>
		</membership>
		<roleManager defaultProvider="CustomizedRoleProvider" 					 
				enabled="true"
				cacheRolesInCookie="true"
				cookieName=".CE"
				cookieTimeout="30"
				cookiePath="/"
				cookieRequireSSL="false"
			cookieSlidingExpiration="true"
			cookieProtection="All" >
			<providers>
				<clear />
				<add
							name="CustomizedRoleProvider"
							type="Codentia.Common.Membership.Providers.CESqlRoleProvider, Codentia.Common.Membership"
							connectionStringName="membership"
							applicationName="/"
						/>
			</providers>
		</roleManager>
	</system.web>
	<Codentia.Common.Logging>
		<TargetMapping>
			<add key="Information" value="Console" />
			<add key="NonFatalError" value="Console" />
			<add key="FatalError" value="Console" />
		</TargetMapping>
	</Codentia.Common.Logging>
</configuration>